# Ambientes virtuais
.venv/
venv/
env/
ENV/

# Bytecode e cache do Python
__pycache__/
*.py[cod]
*$py.class

# Configurações do VSCode
.vscode/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Logs e temporários
*.log
*.tmp

# Banco de dados SQLite (se houver)
*.db

# Arquivos de ambiente
.env
