<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Painel IFMS</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/painel_exibicao.css') }}" />
  <script src="{{ url_for('static', filename='js/painel_exibicao.js') }}" defer></script>
</head>

<body>
  <div class="layout-container">
    <aside>
      <div class="has-text-centered mb-5">
        <div class="logo-box logo-ifms">
          <img src="{{ url_for('static', filename='img/ifms-tl-marca-2015.png') }}" alt="Logo IFMS" />
        </div>
      </div>
    </aside>

    <main class="main-exibicao">
      <div class="clock-container">
        <i class="fas fa-clock"></i>
        <p id="clock" class="clock-time">--:--:--</p>
      </div>

      <div class="content-area">
        <div id="carousel">
          {% for img in imagens %}
          <img src="{{ url_for('static', filename='uploads/' ~ img.filename) }}" alt="Imagem"
    class="carousel-img {% if loop.first %}ativo{% endif %}">
          {% endfor %}
        </div>
      </div>
    </main>

    <aside class="direita">

      <div id="data-completa" class="has-text-centered mb-3 data-completa"></div>

      <div id="clima" class="has-text-centered mb-4">
        <div class="mb-1">
          <i class="fas fa-thermometer-half fa-2x" style="color: white;"></i>
        </div>
        <p id="temperatura" class="temperatura-grande">--°C</p>
        <div class="mt-1">
          <i id="icone-clima" class="fas fa-cloud-sun fa-lg" style="color: white;"></i>
        </div>
        <p id="descricao" class="descricao-clima">Carregando clima...</p>
      </div>

      <div class="footer-logo has-text-centered">
        <div class="logo-text">TADS.TL</div>
        <p>© 2025 IFMS - TADS-4</p>
      </div>
    </aside>
  </div>
</body>

</html>